/* App.css */
*,
*:before,
*:after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
}

/* 
{
    box-sizing: border-box;
    font-family: sans-serif;
} */

* {
    box-sizing: border-box;
    /* margin: 8px; */


}

body {
    display: flex;
    height: 100vh;
    align-items: center;
    justify-content: center;
    background: linear-gradient(135deg,
            #aa4b6b, #6b6b83, #3b8d99, #571b2f)
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30%;

}