.contacts {
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
    border-color: aquamarine;
    margin-left: auto;
    margin-top: 5em;
    /* margin-top: 10em; */


}

/* Add this to your CSS file */
dialog {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    /* Greyed-out background */
}

.modal-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: white;
    padding: 20px;
    border-radius: 8px;
}

.contact_table {
    max-height: 500px;
    /* Set the maximum height for the table container */
    overflow-y: auto;
    /* Enable vertical scroll when content exceeds the container height */
    border: 1px solid #ddd;
    /* Optional: Add a border for better visibility */
    padding: 3em;
}

/* Optional: Style for the table */
.contact_table table {
    /* display: flex; */

    width: 100%;
    border-collapse: collapse;
    /* justify-content: center; */
}

.h {
    margin-top: 1em;
    margin-bottom: auto;
    font-weight: 600;
}



th,
td {
    padding: 10px;
    border: 1px;
}