/* .infoForm {
    display: flex;
    flex-direction: column;
    align-items: center;


}

.info_form {
    display: flex;
    flex-direction: column;
    align-items: center;


}

.infoForm_desc {

    display: flex;
    flex-direction: column;
    align-items: center;
} */

/* *,
*:before,
*:after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
} */

.info_container {
    /* background-color: rgb(255, 255, 255, 0.5); */
    background: url("./wed_pat.png"), rgb(95, 4, 4);
    background-repeat: repeat;
    background-position: top;
    background-blend-mode: multiply;
    width: 90%;
    min-width: 420px;
    padding: 35px 50px;
    position: absolute;
    left: 50%;
    top: 55%;

    transform: translate(-50%, -50%);
    border-radius: 10px;
    box-shadow: 20px 30px 25px rgba(0, 0, 0, 0);
    /* display: flex;
    flex-direction: row;
    /* align-items: center;  */
}

h1 {
    font-size: 30px;
    text-align: center;
    color: rgb(253, 168, 9);
    font-weight: 800;
}

p {
    position: relative;
    margin: auto;
    width: 100%;
    text-align: center;
    color: rgb(253, 168, 9);
    font-size: 14px;
    font-weight: 600;

}

form {
    width: 100%;
    position: relative;
    margin: 30px auto 0 auto;
}

.row {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 20px 30px;
    margin-bottom: 20px;
}

label {
    color: rgb(253, 168, 9);
    font-weight: 600;
    font-size: 14px;

}

input {
    width: 100%;
    font-weight: 400;
    padding: 8px 10px;
    border-radius: 1em;
    border: 1.2px solid #c4cae0;
    margin-top: 5px
}

input:focus {
    outline: none;
    border-color: rgb(253, 168, 9);
}

.info_btn {
    border: none;
    padding: 10px 20px;
    /* background: linear-gradient(130deg,
            #6f6df4, #4c46f5); */
    background-color: white;
    color: rgb(252, 166, 6);
    font-weight: 800;
    border-radius: 1em;
}