.login {
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid clear;
    padding: 1em;
    background-color: rgb(170, 82, 30);
    border-radius: 2.5em;
    box-shadow: 5em;
    margin: 1em
}

.login h2 {
    font-weight: 800;
}

.login table {
    background-color: rgb(58, 3, 3);
    padding: 1em;
    border-radius: 2em;


}

.login input {
    color: black;
    font-size: 1.2em;
    font-weight: 300;
    /* text-align: center; */
    border-radius: 1em;

}

.login_form {
    display: flex;
    flex-direction: column;
}

.login_btn {
    border: none;
    padding: 1em;
    background-color: rgb(44, 2, 2);
    color: rgb(255, 255, 255);
    font-size: 16px;
    font-weight: 600;
    border-radius: 3px;
    align-self: center;
    border-radius: 1em;

}