.rsvp_container {
    padding: 20px;
    margin-top: 5em;
}

.groups_container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.group_card {
    background-color: #f0f0f0;
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    width: 300px;
    /* Adjust the width as needed */
}

.member_card {
    border: 1px solid black;
}